#hp-header {
    position: relative;
    & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 22%;
        z-index: 50;
        mix-blend-mode: soft-light;
        pointer-events: none;
        
        path {
            fill: $light;
        }
    }
}
.hp__slick {
    background-color: #444;

    img {
        // opacity: .6;
        display: block;
    }
}

@keyframes fadein{
    0% { opacity:0; transform: translateX(-70px); }
    66% { opacity:0; }
    100% { opacity:1; transform: translateX(0); }
}


.page-header {
    position: relative;
    background-color: $dark;
    padding: 200px 0;
    color: $light;

    @include mobilefirst(1200) {
        padding: 300px 0;
    }

    h1 {
        animation: 1s ease 0s normal forwards 1 fadein;
        font-size: 60px;
        position: relative;
        line-height: 60px;

        @include mobilefirst(900) {
            font-size: 6vw;
        }
    }

    .bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
    }
}
