@use '../../../styles/utils' as *;

.example {
	padding: 50px;
	background-color: #ddd;
	margin-bottom: 10px;

	.posts-grid {
		margin-top: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;

		& > a {
			background-color: paleturquoise;
			padding: 20px;
			color: red;
		}
	}

	.example-swiper {
		margin-top: 30px;
		.swiper-slide {
			padding: 30px;
			background-color: #000;
			color: #fff;
		}

		.swiper-button {
			&-next,
			&-prev {
				position: absolute;
				bottom: 0;
				width: 40px;
				height: 40px;
				background-image: url(https://cdn.icon-icons.com/icons2/2715/PNG/512/caret_left_icon_172608.png);
				background-size: cover;
				cursor: pointer;
			}

			&-next {
				right: 0;
				transform: rotate(180deg);
			}
			&-prev {
				left: 0;
			}

			&-disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}

		.swiper-pagination {
			margin-top: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background-color: #999;
				border-radius: 5px;
				cursor: pointer;

				&-active {
					background-color: #000;
				}
			}
		}
	}

	&.is-style-green {
		background-color: palegreen;
	}
}
