@use '../utils' as *;

/**
* Container Size Classes
*/

$container-sizes: 1760, 1580, 1530, 1475, 1360, 1310, 1270, 1145, 1100, 1088, 1030, 780, 414;
@each $container-size in $container-sizes {
	.container--#{$container-size} {
		margin-inline: auto;
		width: #{$container-size}px;
		max-width: calc(100% - 60px);
	}
}

// full width
.container--1920 {
	margin-inline: auto;
	width: 1920px;
	max-width: 100%;
}

/**
* Utility Classes
*/

.position-relative {
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.not-sr-only {
	position: static;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	clip: auto;
	white-space: normal;
}

/**
* Alert boxes
*/

.alert {
	padding: 20px;
	text-align: center;

	h3 + p {
		margin-top: 8px;
	}

	h3 + ul {
		margin-top: 8px;
	}

	li {
		font-size: 16px;
		line-height: 24px;
	}
}

.alert--success {
	background-color: #d4edda;
	border-color: #c3e6cb;

	h3,
	p,
	li {
		color: #155724;
	}
}

.alert--warning {
	background-color: #fff3cd;
	border-color: #ffeeba;

	h3,
	p,
	li {
		color: #856404;
	}
}

.alert--fail {
	background-color: #f8d7da;
	border-color: #f5c6cb;

	h3,
	p,
	li {
		color: #721c24;
	}
}

.alert--hidden {
	display: none;
}

svg {
	display: block;
	height: auto;
}

.mb-20 {
	margin-bottom: 20px;
}

/**
* Color Classes
* 
* NOTICE:
* - Theme colors are now set in /resources/theme.json
* - A custom SASS function `wp_color()` has been created in /resources/assets/styles/common/scss
*/

$colors-array: 'primary', 'secondary', 'tertiary', 'light', 'dark'; // Add/Remove as required to match colors in theme.json
@each $color in $colors-array {
	.#{$color} {
		color: wp-color(#{$color});
		&--bg {
			background-color: wp-color(#{$color});
		}
	}
}

.transparent--bg {
	background-color: transparent;
}

body {
	&.disable-bg {
		height: 100%;
		overflow: hidden;
		position: relative;

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			z-index: 50;
			position: fixed;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}
